<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>todolist</title>

  <!-- Resources -->
  <link rel="stylesheet" href="./app.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
  <header>
    <h1>todo<span>list</span></h1>
    <h2>A simple todo list app built with node</h2>
  </header>

  <section class="from">
    <input type="text" id="todoInput" placeholder="Insert your task here..." />
  </section>

  <ul class="list">
  </ul>

  <script src="./app.js"></script>
</body>
</html>