<div class="row">
  <div class="col-md-4 offset-md-4">
    <h1>Sign In</h1>
    {{#if hasErrors}}
      <div class="alert alert-danger">
        {{#each messages}}
          <p>{{this}}</p>
        {{/each}}
      </div>
    {{/if}}
    <form action="/user/signin" method="post">
      <div class="form-group">
        <label for="email" class="sr-only">E-Mail</label>
        <input class="form-control" type="text" id="email" name="email" placeholder="E-Mail" />
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Password" />
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <button class="btn btn-primary btn-block" type="submit">Sing In</button>
    </form>
  </div>
</div>