.service-list {
  margin-top: 2rem;
  list-style: none;

  @include for-tablet {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  @include for-small-desktop {
    grid-gap: 2rem;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;

      @include for-tablet {
        margin-bottom: initial;
      }
    }
  }
}
