.main-header {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
  transition: all 0.4s;

  &.sticky {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
  }

  &__wrapper {
    @extend .container;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(s) {
      justify-content: space-between;
    }
  }
}

.main-nav {
  @include mq(s) {
    display: none;
  }
}

.site-list {
  list-style: none;
  display: flex;

  &__item {
    &:not(:last-of-type) {
      margin-right: 2rem;
    }

    &:not(:last-child)::after {
      padding-left: 2rem;
      content: ".";
    }
  }

  &__link {
    color: inherit;
    font-weight: 700;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.main-nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  transition: transform 0.4s;

  &.close {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    transform: translateX(100%);
    transition: transform 0.4s;
  }

  &.open {
    transform: translate(0);
  }

  &__wrapper {
    padding: 1.875rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dedede;
  }

  &__logo {
    width: 72px;
  }
}

.site-list-mobile {
  list-style: none;

  &__item {
    margin-right: -30px;
    margin-left: -30px;

    &:focus,
    &:hover {
      background: #efefef;
    }
  }

  &__link {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 30px;
    padding-left: 30px;
    color: inherit;
    font-weight: 700;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    text-decoration: none !important;
    text-transform: uppercase;

    &:focus,
    &:hover {
      background: #ededed;
    }
  }
}

.close {
  display: none;

  @include mq(s) {
    @include resetApperance;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 0.2s;

    &:focus,
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.87;
    }

    &__wrapper {
      position: relative;
      padding: 2px;
    }

    &__line {
      position: absolute;
      width: 100%;
      height: 3px;
      background: #353738;

      &:first-of-type {
        transform: rotate(-45deg);
      }

      &:last-of-type {
        transform: rotate(45deg);
      }
    }
  }
}

.menu-btn {
  @include resetApperance;
  display: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.2s;

  @include mq(s) {
    display: block;
  }

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.87;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__line {
    height: 3px;
    width: 100%;
    background: #353738;
  }
}
