.main-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f7f7f7;

  &__wrapper {
    @extend .container;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__author {
    justify-self: end;
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 0.875rem;
  }

  &__logo {
    margin-left: 0.625rem;
  }
}

.details {
  font-size: 0.875rem;

  &__company {
    font-size: 1rem;
    font-weight: 700;
  }

  &__email {
    color: inherit;
  }
}

.social-media-list {
  justify-self: center;
  list-style: none;
  display: flex;
  align-items: center;

  &__item {
    &:nth-of-type(2) {
      margin-right: 15px;
      margin-left: 15px;
    }
  }

  &__link {
    transition: opacity .2s;

    &:focus,
    &:hover {
      opacity: .60;
    }

    &:active {
      opacity: .87;
    }
  }
}
