.section {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;

  &__icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
}
