.contact {
  padding: 3rem 0;
  background: #52489c;

  @include for-tablet {
    text-align: center;
  }

  @include for-medium-desktop {
    padding: 4.25rem;
  }

  .section__title {
    color: #fff;
  }

  .btn {
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}
