.hero {
  &__wrapper {
    @include container;
  }

  &__content {
    margin-top: 9.833333333333333rem;
  }

  &__title {
    margin-top: 6.5rem;
    margin-bottom: 1.833333333333333rem;
    font-size: 4.166666666666667rem;
    font-weight: 900;
  }

  &__desc {
    font-size: 1.111111111111111rem;
    margin-bottom: 4.5rem;
    font-weight: 700;
  }
}

.try-free {
  height: 4.277777777777778rem;
  display: flex;

  &__input {
    @include resetApperance;
    width: 22.05555555555556rem;
    margin-right: 2.222222222222222rem;
    border: 2px solid #ebebeb;
    border-radius: 5.555555555555556rem;
    padding-right: 1.388888888888889rem;
    padding-left: 1.388888888888889rem;
    background: #fff;
    transition: color 0.2s;

    &:focus {
      color: $baltic-sea;
    }
  }

  &__btn {
    @include resetApperance;
    @include centerBtn;
    width: 12.77777777777778rem;
    border-radius: 5.555555555555556rem;
    box-shadow: 0 1.666666666666667rem 2.777777777777778rem
      rgba($carnation, 0.34);
    background: $carnation;
    color: #fff;
    font-family: $ff-secondary;
    font-weight: 300;
    cursor: pointer;
    transition: background 0.2s;

    &:focus,
    &:hover {
      background: lighten($carnation, 8%);
    }

    &:active {
      background: darken($carnation, 8%);
    }
  }
}
