.section {
  padding-top: 11.11111111111111rem;

  &__wrapper {
    @include container;
  }

  &__title {
    font-size: 2.777777777777778rem;

    &--center {
      text-align: center;
    }
  }
}

.partner {
  &__list {
    width: 43.94444444444444rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-gap: 4rem 5.277777777777778rem;
    justify-items: start;
    align-items: center;
    list-style: none;
  }
}

.adventage {
  &__list {
    width: 60.83333333333333rem;
    margin-top: 5.666666666666667rem;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4.555555555555556rem;
    list-style: none;
    text-align: center;
  }

  &__icon {
    margin-bottom: 2.222222222222222rem;
  }

  &__title {
    margin-bottom: 1.111111111111111rem;
    font-size: 1.388888888888889rem;
  }

  &__desc {
    font-size: 0.8888888888888889rem;
    font-weight: 700;
  }
}

.why {
  &__column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10.11111111111111rem;

    &--2 {
      grid-gap: 7.055555555555556rem;

      .why__column--one {
        margin-left: 11.77777777777778rem;

        .why__title {
          margin-top: 3.277777777777778rem;
        }
      }
    }
  }

  &__title {
    margin-top: 7.722222222222222rem;
    margin-bottom: 0.8333333333333333rem;
  }

  &__desc {
    margin-bottom: 2.222222222222222rem;
    font-weight: 700;
  }
}

.link-cta {
  display: flex;
  align-items: center;
  color: $baltic-sea;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  img {
    margin-left: 0.7777777777777778rem;
  }
}

.testimonial {
  padding-top: 0;
  padding-bottom: 11.11111111111111rem;

  &__list {
    width: 63rem;
    margin-top: 4.444444444444444rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.666666666666667rem;
    list-style: none;
  }

  &__card {
    position: relative;
    padding: 2.777777777777778rem 1.833333333333333rem;
    background-color: #fff;
    box-shadow: 0 2.777777777777778rem 5.5rem rgba(#1f485d, 0.1);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 7px;
      background-color: #fd5353;
      transition: width 0.2s;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__rating {
    margin-bottom: 1.111111111111111rem;
  }

  &__meta {
    margin-top: 1.111111111111111rem;
    display: flex;
    align-items: start;
  }

  &__img {
    width: 53px !important;
    height: 53px !important;
    margin-right: 1.111111111111111rem;
  }

  &__user {
    display: block;
    color: $baltic-sea;
    font-weight: 700;
    text-decoration: none;
  }

  &__title {
    display: block;
    color: $clr-body;
    font-size: 0.7777777777777778rem;
    font-weight: 300;
  }

  &__company {
    color: $baltic-sea;
  }
}
