.service {
  &__icon {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__info {
    font-weight: 300;
    color: lighten(#5f6368, 16%);
  }
}
