@import url('https://fonts.cdnfonts.com/css/satoshi');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {}

@media (prefers-color-scheme: dark) {
  :root {}
} */

body {
  background: url("/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* color: #373b64; */
  font-family: 'Satoshi', sans-serif;
}

.glass {
  background: hsla(0, 0%, 100%, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.glass:hover {
  background: hsla(0, 0%, 100%, 0.7);
  border: 1px solid #fff;
}
