.about-us {
  background-color: #f7f7f7;

  h2 {
    margin-top: 2.1875rem;
    margin-bottom: 2.1875rem;
  }

  p {
    text-align: center;
  }
}

.work {
  padding: 0;

  p {
    line-height: 1.618em;
  }

  &__one {
    display: grid;
    grid-template-columns: 1fr 533px;
    grid-template-rows: 400px 200px;

    @include mq(xs) {
      display: flex;
      flex-direction: column-reverse;
    }

    .work__image--1 {
      grid-row: 1 / -1;
    }

    .work__image--2 {
      grid-column: 2 / -1;
      object-fit: cover;

      @include mq(xs) {
        display: none;
      }
    }
  }

  &__two {
    display: grid;
    grid-template-columns: 533px 1fr;
    grid-template-rows: 400px 200px;

    @include mq(xs) {
      display: flex;
      flex-direction: column;
    }

    .work__image--1 {
      grid-row: 1 / -1;
      grid-column: 2 / -1;
    }

    .work__image--2 {
      grid-column: 1;

      @include mq(xs) {
        display: none;
      }
    }
  }

  &__three {
    display: grid;
    grid-template-columns: 1fr 533px 1fr;
    grid-template-rows: 400px 200px;

    @include mq(s) {
      grid-template-columns: 1fr 533px;
    }

    @include mq(xs) {
      display: flex;
      flex-direction: column-reverse;
    }

    .work__image--1 {
      grid-row: 1/-1;

      @include mq(xs) {
        max-height: 324px;
      }
    }

    .work__image--2 {
      @include mq(xs) {
        display: none;
      }
    }

    .work__image--3 {
      grid-column: 3 / -1;
      grid-row: 1 / -1;

      @include mq(s) {
        display: none;
      }
    }
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__content {
    position: relative;
    padding-top: 4.375rem;
    padding-right: 4.25rem;
    padding-left: 4.25rem;
    padding-bottom: 4.375rem;
    background-color: #fff;

    @include mq(xs) {
      padding: 1.875rem;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(-45deg);
      height: 20px;
      width: 20px;
      background-color: #fff;
    }
  }

  &__icon {
    margin-bottom: 1.25rem;
  }

  &__title {
    margin-bottom: 1.5625rem;
  }

  &__line {
    width: 50px;
    height: 1px;
    margin-top: 2.375rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #d7d7d7;
  }
}

.twitter {
  padding-top: 7.75rem;
  padding-bottom: 4.25rem;
  background: #f7f7f7;
  text-align: center;

  &__logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.375rem;
  }

  &__name {
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1.625rem;

    a {
      color: $clr-heading;
    }
  }

  &__username {
    color: $clr-heading;
    font-size: 1.125rem;
  }

  &__time {
    font-weight: 300;
  }

  &__text {
    margin-bottom: 5.9375rem;
  }
}

.shop {
  padding: 0;

  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 267px);

    @include mq(s) {
      grid-template-columns: repeat(2, 1fr) repeat(2, 208px) repeat(2, 1fr);
      grid-template-rows: repeat(3, 173px);
    }

    @include mq(xs) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;

    @include mq(xs) {
      max-height: 324px;
    }

    &--1 {
      @include mq(s) {
        grid-column: 1 / 3;
      }
    }

    &--2 {
      @include mq(s) {
        grid-column: 1 / 3;
        grid-row: 3;
      }
    }

    &--3 {
      grid-column: 1 / 3;
      grid-row: 2;
    }

    &--4,
    &--5 {
      grid-row: 1 / -1;
    }

    &--6 {
      grid-column: 5 / -1;
    }

    &--7 {
      @include mq(s) {
        grid-column: 5 / -1;
      }
    }

    &--8 {
      @include mq(s) {
        grid-column: 5 / -1;
      }
    }
  }

  &__item:hover &__image {
    transform: scale(1.2);
  }

  &__item:hover &__overlay {
    transform: translateY(0);

    @include mq(xs) {
      transform: translateX(0);
    }
  }

  &__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s ease-in-out;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 194, 158, 0.8);
    transition: transform 0.6s ease-in-out;

    @include mq(xs) {
      transform: translateX(-100%);
    }
  }

  &__cta {
    margin-top: 0.875rem;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
}

.newsletter {
  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.375rem;
  }

  .section__title {
    margin-bottom: 1.5625rem;
    color: $clr-body;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    text-transform: initial;
  }

  &__form {
    width: 33.375rem;
    height: 4.3125rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  
    @include mq(xs) {
      width: initial;
      height: initial;
      flex-direction: column;
    }
  }

  &__input {
    width: 25rem;
    margin-right: 0.5rem;
    border: 1px solid #d3d7d9;
    padding: 1.5rem 1.75rem;
    color: #cdcdcd;
    font-size: 1.25rem;
    font-style: italic;
    transition: color .2s;

    @include mq(xs) {
      width: initial;
      flex-grow: 1;
    }

    @include mq(xs) {
      margin-right: 0;
      margin-bottom: 0.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &:focus {
      color: inherit;
      font-style: normal;
    }
  }

  &__button {
    @include resetApperance;
    width: 7.875rem;
    background-color: $clr-brand;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.2s;

    @include mq(xs) {
      width: initial;
      flex-grow: 1;
    }

    @include mq(xs) {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

    &:focus,
    &:hover {
      background-color: #7cccad;
    }

    &:active {
      background-color: #45ae86;
    }
  }
}
