@mixin mq($value) {
  @if ($value == "lg") {
    @media (min-width: 1025px) and (max-width: 1440px) {
      @content;
    }
  } @else if ($value == "md") {
    @media (max-width: 1280px) {
      @content;
    }
  } @else if ($value == "sm") {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if ($value == "xs") {
    @media (max-width: 768px) {
      @content;
    }
  } @else {
    @error "Please insert value one of these: lg, md, sm, s";
  }
}

@mixin container {
  width: 1612px;
  margin-right: auto;
  margin-left: auto;

  @include mq(lg) {
    width: 1170px;
  }

  @include mq(sm) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include mq(xs) {
    // max-width: 720px;
  }
}

@mixin resetApperance {
  all: unset;
}

@mixin centerBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
