// Global

// Colors
$baltic-sea: #1e1c24;
$white: #fff;
$Carnation: #fd5353;

$clr-heading: $baltic-sea;
$clr-body: #b1aaaa;
$clr-link: $baltic-sea;

// Typography
$ff-primary: Muli, sans-serif;
$ff-secondary: Montserrat, serif;
$ff-scale: 1.125;
$ff-size: 112.5%;
