*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  letter-spacing: 0.01618em;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: $ff-size;
}

body {
  color: color(body);
  font-family: typeface(sans-serif-2);
  font-feature-settings: "liga" on;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: color(link);
}

img {
  max-width: 100%;
  height: auto;
}
