h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: color(heading);
  font-family: typeface(sans-serif);
  font-weight: 700;
  line-height: 1.125em;
}

h1 {
  font-size: $ff-size * $ff-scale * $ff-scale * $ff-scale * $ff-scale *
    $ff-scale * $ff-scale;
}

h2 {
  font-size: $ff-size * $ff-scale * $ff-scale * $ff-scale * $ff-scale *
    $ff-scale;
}

h3 {
  font-size: $ff-size * $ff-scale * $ff-scale * $ff-scale * $ff-scale;
}

h4 {
  font-size: $ff-size * $ff-scale * $ff-scale * $ff-scale;
}

h5 {
  font-size: $ff-size * $ff-scale * $ff-scale;
}

h6 {
  font-size: $ff-size * $ff-scale;
}
