html,
body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: $ff-size;
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $clr-bg;
  color: $clr-body;
  font-family: $ff-primary;
  font-feature-settings: "liga" on;
  line-height: 1.5;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  letter-spacing: 0.01618em;
}

a {
  color: $clr-link;
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  flex: 1 1 0;
}
