.explore-foods {
  margin-top: 6.0625rem;
  padding-bottom: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 33px 53px;
    list-style: none;
    margin-bottom: 81px;
    width: 100%;
  }

  &__item {
    background: #fff;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    box-shadow: 0 17px 16px rgba(235, 241, 245, 0.55);
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.4s, transform 0.4s;

    &:hover,
    &:focus {
      transform: scale(1.025);
      box-shadow: 0 17px 16px rgba(235, 241, 245, 0.8);
    }
  }

  &__item:hover &__media img {
    transform: scale(1.2) rotate(8deg);
  }

  &__media {
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 13px;
      border-top-right-radius: 13px;
      transition: transform 0.4s;
    }
  }

  &__content {
    padding: 25px 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
  }

  &__name {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
  }

  &__price {
    color: $clr-secondary;
    font-size: 25px;
    font-weight: 700;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
