.main-footer {
  padding-top: 73px;
  position: relative;

  &__image {
    position: absolute;
    background: url("./../img/footer-img-1.png") center/cover no-repeat;
    width: 460px;
    height: 457px;
    bottom: 0;
    right: 0;
  }

  &__wrapper {
    @include container;
  }

  &__nav {
    width: 611px;
    border-top: 1px solid rgba(112, 112, 112, 0.18);
    border-bottom: 1px solid rgba(112, 112, 112, 0.18);
    padding: 15px 0;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__site-list {
    list-style: none;
    display: flex;

    a {
      padding: 0 16px;
      display: inline-block;
      text-decoration: none;
      transition: color 0.2s;

      &:hover,
      &:focus {
        color: $clr-primary;
      }

      &:active {
        color: $clr-primary;
      }

      &:last-child {
        padding-left: 0;
      }
    }
  }

  &__logo {
    margin-right: 61px;
  }
}

.copyright {
  margin-top: 78px;
  padding-bottom: 24px;

  small {
    font-size: 16px;
  }
}
