html{line-height:1.15;-webkit-text-size-adjust:100%;}body{margin:0;}main{display:block;}h1{font-size:2em;margin:0.67em0;}hr{box-sizing:content-box;height:0;overflow:visible;}pre{font-family:monospace,monospace;font-size:1em;}a{background-color:transparent;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underlinedotted;}b,strong{font-weight:bolder;}code,kbd,samp{font-family:monospace,monospace;font-size:1em;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sub{bottom:-0.25em;}sup{top:-0.5em;}img{border-style:none;}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}button,input{overflow:visible;}button,select{text-transform:none;}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1pxdottedButtonText;}fieldset{padding:0.35em0.75em0.625em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}progress{vertical-align:baseline;}textarea{overflow:auto;}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}details{display:block;}summary{display:list-item;}template{display:none;}[hidden]{display:none;}

html {
  box-sizing: border-box;
  font-size: 125%;
}
@media (max-width: 768px) {
  html {
    font-size: 112.5%;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #333;
  font-family: Poppins;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
}

/*==========
  Helpers
=====*/

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 .85rem;
}
@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 400px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 320px;
  }
}
@media (max-width: 320px) {
  .container {
    padding: 0 1rem;
  }
}

.display-1 {
  font-size: 2.4rem;
  font-weight: 400;
}

.mb-2 {
  margin-bottom: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


/*==========
  Navbar
=====*/

.main-nav {
  background: #000;
}
.main-nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}
.main-nav__menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__menu-item:not(:last-child) {
  margin-right: 2rem;
}
.main-nav__hamburger {
  height: 32px;
  width: 24px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-nav__hamburger-line {
  display: block;
  height: 3px;
  width: 100%;
  background: #fff;
}
.main-nav__hamburger-line:not(:first-child) {
  margin-top: 5px;
}
.main-nav__link {
  display: block;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 768px) {
  .main-nav__menu {
    display: none;
  }
  .main-nav__hamburger {
    display: flex;
  }
}

/*==========
  Main
=====*/
.main {
  display: flex;
  flex-grow: 1;
}
.main__item {
  flex: 0 1 50%;
}
.main__item:last-child {
  padding: 5rem 2.5rem 0;
}
.main__background {
  height: 100%;
  width: 100%;
  background: #000 url('../lubo-minar-1150606-unsplash.jpg') center/cover no-repeat;
}
@media (max-width: 1024px) {
  .main__item {
    flex-basis: 60%;
  }
  .main__item:first-child {
    flex-basis: 40%;
  }
}
@media (max-width: 600px) {
  .main__item {
    flex-basis: 100%;
  }
  .main__item:first-child {
    display: none;
  }
}

/*==========
  Form
=====*/
.form__field:first-child {
  margin-top: 2rem;
}
.form__field {
  margin-bottom: 2rem;
}
.form__control {
  color: #777;
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 3px solid #000;
  padding: 1rem .5rem .5rem;
}

/*==========
  Button
=====*/
.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  border: 3px solid #000;
  border-radius: 0;
  padding: .75rem 2rem;
  cursor: pointer;
}
.btn--primary {
  overflow: hidden;
  box-shadow: 0 1.15rem 1rem -1rem rgba(0, 0, 0, .4);
  background: #000;
  color: #fff;
  transition: all .2s;
}
.btn--primary:hover {
  color: #000;
  box-shadow: 0 1.15rem 1rem -1rem rgba(0, 0, 0, .6);
}
.btn--primary::after {
  content: '';
  background: #fff;
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  transition: top .2s;
}
.btn--primary:hover::after {
  top: 0;
}