.main-header {
  &__wrapper {
    @include container;
    height: 174px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__cta {
    @include resetApperance;
    @include centerBtn;
    width: 8.166666666666667rem;
    height: 3.222222222222222rem;
    border: 2px solid $white;
    border-radius: 1.611111111111111rem;
    color: $white;
    font-weight: 700;
    cursor: pointer;
    transition: backgorund 0.2s, color, 0.2s, opacity 0.2;

    &:focus,
    &:hover {
      background: #fff;
      color: $carnation;
    }

    &:active {
      opacity: 0.87;
    }
  }
}

.half-circle {
  position: absolute;
  z-index: -999;
  top: 0;
  right: 0;
  width: 960px;
  height: 1583px;
  background: url(/img/half-circle.svg) no-repeat;

  @include mq(lg) {
    width: 658px;
    background: url(/img/half-circle-lg.svg) no-repeat;
  }

  @include mq(sm) {
    width: 374px;
    right: -6px;
    background: url(/img/half-circle-sm.svg) no-repeat;
  }
}

.ui-wireframe {
  position: absolute;
  z-index: -998;
  top: 140px;
  right: -97px;
  width: 1256px;
  height: 1382px;
  background: url(/img/ui-wireframe.png) no-repeat;

  @include mq(lg) {
    right: 0;
    width: 685px;
    height: 1215px;
    background: url(/img/ui-wireframe-lg.png) no-repeat;
  }

  @include mq(sm) {
    display: none;
  }
}

.line-circle-1 {
  position: absolute;
  z-index: -998;
  top: 1700px;
  left: -850px;
  width: 3255px;
  height: 2508px;
  background: url(/img/line-circle-1.svg) no-repeat;

  @include mq(lg) {
    top: 1580px;
  }

  @include mq(sm) {
    display: none;
  }
}

.line-circle-2 {
  position: absolute;
  z-index: -999;
  top: 3572px;
  right: -576px;
  width: 1280px;
  height: 1567px;
  background: url(/img/line-circle-2.png) no-repeat;

  @include mq(lg) {
    top: 3459px;
  }

  @include mq(sm) {
    display: none;
  }
}
