.main-footer {
  background: #eee;
  padding: .9375rem;
  font-size: .875rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: 768px) {
      text-align: center;
      flex-direction: column-reverse;
    }

    @media (min-width: 320px) and (max-width: 425px) {
      text-align: left !important;
      align-items: initial;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.25rem;

      @media (min-width: 320px) and (max-width: 425px) {
        grid-template-columns: 1fr;
        margin-right: .25rem;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: color(heading);
    text-transform: uppercase;
    font-family: typeface(sans-serif);
    font-weight: 700;
    transition: color .2s;

    &:hover {
      text-decoration: none;
      color: #fd4f32;
    }
  }
}