<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <h2><a href="/">CodeGig</a></h2>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gigs">All Gigs</a></li>
        <li><a href="/gigs/add">Add Gig</a></li>
      </ul>
    </nav>
  </header>

  {{{body}}}
</body>
</html>