.section {
  &__title {
    color: $clr-primary;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 1.875rem;
    line-height: 1.333em;
    font-size: 2.25rem;
    font-weight: 700;

    &--center {
      text-align: center;
    }
  }
}
