.site-list {
  display: flex;
  list-style: none;

  &__item {
    color: #abadae;
    transition: opacity 0.2s;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.75;
    }

    &--active {
      color: $clr-primary;
      font-weight: 700;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
  }
}
