*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  letter-spacing: 0.01618em;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: $ff-size;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: $clr-body;
  font-family: $ff-primary;
  font-feature-settings: "liga" on;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $clr-link;
}

img {
  max-width: 100%;
  height: auto;
}
