<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>{{ fullName }}</h1>
    <input type="text" v-model="firstName">
    <input type="text" v-model="lastName">
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        firstName: '',
        lastName: '',
      },
      computed: {
        fullName: function () {
          return this.firstName + ' ' + this.lastName;
        }
      }
    });
  </script>
</body>
</html>