.btn {
  all: unset;
  display: inline-block;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 0.75rem 1.125rem;
  border-radius: 0.25rem;
  transition: all 0.2s;
}

.btn-primary {
  background: #52489c;
  color: #fff;

  &:focus,
  &:hover {
    background: lighten(#52489c, 8%);
  }

  &:active {
    background: darken(#52489c, 4%);
  }
}

.btn-outline-primary {
  border: 3px solid #fff;
  color: #fff;
}
