.section-culture {
  background: #f3f2f8;
}

.culture-list {
  margin-top: 2rem;
  list-style: none;

  @include for-tablet {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1rem;

      @include for-tablet {
        margin-bottom: initial;
      }
    }
  }
}

.culture {
  &__icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.25rem;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__info {
    font-weight: 300;
    color: lighten(#5f6368, 16%);
  }
}
