.hero {
  min-height: 480px;
  display: flex;
  align-items: center;
  background: linear-gradient(
      125deg,
      rgba(#52489c, 0.75) 60%,
      rgba(#52489c, 0.2)
    ),
    url(./../../img/jan-henckens-311341-unsplash.jpg) center/cover no-repeat
      fixed;

  @include for-tablet {
    min-height: 560px;
  }

  @include for-small-desktop {
    min-height: initial;
    height: 80vh;
  }

  @include for-medium-desktop {
    height: 100vh;
  }

  &__wrapper {
    @include container;
  }
}

.hero-content {
  margin-top: 4rem;

  &__title {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 3rem;
  }

  &__subtitle {
    margin-bottom: 2rem;
    color: #ddd;
    font-size: 1.125rem;
  }

  &__btn-cta {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.07);
  }
}
