.logo {
  display: block;

  &__link {
    outline: none;
    text-decoration: none;
    transition: opacity 0.2s;

    &:active {
      opacity: 0.87;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  &__img {
    width: 6.85375rem;
  }
}
