*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #7e7e7e;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #061616;
  font-family: Raleway, sans-serif;
  line-height: 1.3em;
  letter-spacing: 0.55px;
}

p {
  line-height: 1.618em;
  letter-spacing: 0.67px;
}

p + p {
  margin-top: 1.8125rem;
}

a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.67px;
}

a:hover,
a:active {
  opacity: 0.75;
}

.mt-3 {
  margin-top: 1.875rem;
}

/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
} */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  position: static !important;
  width: auto !important;
  white-space: normal !important;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding: 6.25rem 0;
}

.section__title {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.section__title--left {
  text-align: left;
}

.section__subtitle {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.landing-page section:nth-of-type(n + 2) {
  padding-top: 0;
}

.go-to-up {
  display: none;
  text-align: center;
  position: fixed;
  bottom: 36px;
  right: 24.5px;
  z-index: 10;
  background-color: #66d7d1;
  color: white;
  cursor: pointer;
  height: 38px;
  width: 38px;
  line-height: 36px;
  border-radius: 50%;
  display: grid;
  box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.2);
  animation: fadeInFromBottom 0.4s forwards;
}

.go-to-up:hover,
.go-to-up:active {
  background-color: #51b1ac;
}

.media-responsive {
  width: 100%;
  height: auto;
}

/* Top Header */

.top-header,
.top-header__details,
.main-nav__list,
.service__list,
.why-us__list,
.testimonial__item,
.blog__list,
.main-footer__links {
  list-style-type: none;
}

.top-header {
  background: #30b8b1;
  color: #fff;
  padding: 0.625rem 0;
  font-size: 0.875rem;
}

.top-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header__social-media__item {
  display: inline-block;
}

.top-header__social-media__item:not(:first-child) {
  margin-left: 0.625rem;
}

.top-header__details__item {
  display: flex;
  align-items: center;
}

.top-header__details__item i {
  margin-right: 4px;
}

.top-header__details__item:not(:first-child) {
  margin-left: 0.625rem;
}

/* Main Header & Main Navbar */

.main-header {
  transition: all 0.4s;
}

.main-header.sticky {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
  /* animation: fadeInFromTop .2s forwards; */
}

.main-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__brand img {
  width: 62px;
}

.main-nav__toggle {
  display: none;
}

.main-nav__item {
  position: relative;
  display: inline-block;
  transition: opacity 0.2s;
}

.main-nav__item a {
  display: block;
  padding: 1.5625rem 0.875rem;
  font-weight: 700;
  text-transform: capitalize;
  transition: color 0.2s ease 0.2s;
}

.main-nav__item a:hover {
  opacity: 1;
  color: #061616;
}

.main-nav__item::after {
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  background: #66d7d1;
  transition: width 0.4s;
}

.main-nav__item:hover::after {
  width: 100%;
}

.main-nav__item.active {
  color: #061616;
}

/* Hero */

.hero {
  height: calc(100vh - 104px);
  display: grid;
  place-items: center;
  background: url("./../images/hero-helloquence-61189-unsplash.png")
    center/cover no-repeat;
  background-attachment: fixed;
}

.hero__body {
  text-align: center;
  color: #fff;
}

.hero__title {
  color: inherit;
  font-size: 3.875rem;
  margin: 0 auto 0.9375rem;
}

.hero__subtitle {
  font-size: 1.25rem;
  width: 60%;
  margin: 0 auto 3.75rem;
}

.scroll-down {
  display: block;
  font-size: 24px;
  width: 24px;
  height: 24px;
  margin-right: auto;
  margin-left: auto;
  animation: upAndDown 0.8s infinite alternate linear;
}

.btn {
  appearance: initial;
  display: inline-block;
  vertical-align: middle;
  padding: 0.625rem 1.25rem;
  font-family: inherit;
  color: inherit;
  background: #fff;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.btn-cta {
  background: #66d7d1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

/* About Us */

.d-block {
  display: block;
}

.about-us a {
  color: #30b8b1;
  font-weight: 700;
  text-transform: uppercase;
}

.about-us__columns {
  display: grid;
  grid-template-columns: 50% 46%;
  grid-column-gap: 4%;
}

/* Service */

.service {
  text-align: center;
}

.service__list {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.875rem;
}

.service__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  /* margin-bottom: .9375rem; */
  margin-bottom: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  color: #fafefe;
  background: #66d7d1;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  padding: 0.625rem;
}

.service__desc {
  margin-top: 0.625rem;
}

/* Why US */

.why-us__columns {
  display: grid;
  grid-template-columns: 46% 50%;
  grid-column-gap: 4%;
}

.why-us__list {
  margin-top: 1.875rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.why-us__item {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-gap: 1.25rem;
}

.why-us__icon {
  justify-self: center;
  font-size: 2rem;
  width: 62px;
  height: 62px;
  background: #66d7d1;
  border-radius: 50%;
  color: #fff;
  display: grid;
  place-items: center;
}

.why-us__body {
  grid-column: 2;
}

.why-us__title {
  margin-bottom: 0.3125rem;
}

/* Testimonial */

.testimonial__list {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  align-items: start;
}

.testimonial__item {
  padding: 0.9375rem;
  border-radius: 5px;
  background: #fafefe;
  border: 1px solid #ecfbfb;
}

.testimonial__item__body {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
}

.testimonial__item__image {
  border-radius: 50%;
  height: 32px !important;
  width: 32px !important;
}

.testimonial__item__name {
  margin-left: 0.625rem;
  color: #30b8b1;
  font-weight: 700;
  letter-spacing: 0.67px;
}

.blog__list {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.875rem;
}

.blog__media {
  width: 100%;
  height: 240px;
  overflow: hidden;
  margin-bottom: 0.875rem;
}

.blog__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__date {
  margin-bottom: 0.3125rem;
}

.blog__date p {
  font-size: 0.875rem;
}

.blog__title {
  line-height: 1.618em;
}

.main-footer {
  background: #242727;
  padding: 5rem 0 2rem;
}

.main-footer p {
  margin-top: 0;
}

.main-footer__columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;
}

.main-footer__title {
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

.main--foter__links__items:not(:first-of-type) {
  margin-top: 0.9375rem;
}

.form-control {
  font-family: inherit;
  color: inherit;
  border: 0;
  padding: 0.3125rem 0.625rem;
}

.footer-form {
  margin-top: 1.25rem;
  display: flex;
}

.footer-form input {
  flex: 2;
}

.footer-form .btn {
  transition: all 0.2s;
}

.footer-form .btn:hover {
  background: #e6e6e6;
}

.main-footer__bottom {
  margin-top: 4rem;
  border-top: 1px solid #414141;
  padding-top: 2.5rem;
}

.main-footer__bottom__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
}

.main-footer__logo {
  width: 128px;
}

.copyright {
  text-align: right;
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-68px);
  }
  67% {
    opacity: 0.4;
  }
  84% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(68px);
  }
  67% {
    opacity: 0.4;
  }
  84% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opactiy: 0;
  }
  to {
    opactiy: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 996px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .go-to-up {
    right: 15px;
    bottom: 32px;
  }

  .main-header {
    height: 60px;
    display: flex;
    align-items: center;
  }

  .main-nav__primary {
    display: none;
  }

  .main-nav__toggle {
    display: block;
  }

  .hero {
    height: calc(100vh - 96px);
  }

  .hero__title {
    font-size: 2.2rem;
  }

  .hero__subtitle {
    font-size: 1.2rem;
  }

  .section {
    padding: 4rem 0;
  }

  .section__title {
    font-size: 1.6rem;
  }

  .section__subtitle {
    width: 100%;
  }

  .about-us__columns,
  .why-us__columns,
  .service__list,
  .testimonial__list,
  .blog__list,
  .main-footer__columns,
  .main-footer__bottom__columns {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .why-us__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .why-us__icon {
    margin-bottom: 1rem;
  }

  .testimonial__list {
    text-align: center;
  }

  .testimonial__item__body {
    justify-content: center;
  }

  .blog__list {
    text-align: center;
  }

  .copyright {
    text-align: left;
  }
}
