// Global

// Colors
$colors: (
  heading: #323232,
  body: #8b8b8b,
  link: #fd4f32
);

// Typography
$typefaces: (
  sans-serif: "Montserrat",
  sans-serif-2: "Open Sans",
  serif: serif
);

$ff-scale: 1.125;
$ff-size: 100%;