* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  float: left;
  font-size: 40px;
  padding-top: 10px;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.content-header {
  background-color: #3B5998;
  color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.content-header form {
  float: right;
}

.content-header label {
  font-size: 12px;
  padding-bottom: 2px;
}

.content-header label,
.content-header input {
  display: block;
}

.content-header input[type='checkbox'] {
  display: inline-block;
  vertical-align: middle;
}

.group-form {
  float: left;
  margin-left: 10px;
}

.group-form a {
  color: #9daccb;
  font-size: 12px;
  text-decoration: none;
}

.content-header input[type='submit'] {
  margin-top: 11px;
  background-color: #4267b2;
  color: #fff;
  font-weight: 700;
  padding: 5px;
  border: 1px solid #29487d;
  cursor: pointer;
}

/*----- content middle -----*/

.content-middle {
  background-color: #edf0f5;
}

.content-middle .middle-left {
  float: left;
  width: 50%;
  margin-right: 5%;
}

.content-middle .middle-right {
  float: left;
  width: 45%;
}

h2 {
  margin-top: 50px;
  margin-bottom: 40px;
}

.content-middle ul li {
  list-style: none;
  font-weight: 700;
  margin-bottom: 30px;
}

.content-middle ul li span {
  font-weight: 400;
  margin-left: 10px;
  color: gray;
}

h3 {
  margin-top: 10px;
  font-size: 30px;
}

.middle-right p:nth-child(2) {
  color: gray;
  margin-bottom: 10px;
  font-size: 15px;
}

.middle-right input {
  border-radius: 3px;
  border: 1px solid #bdc7d8;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 15px;
}

.middle-right input.inline {
  float: left;
  width: 49%;
  margin-right: 2%;
}

.middle-right input.inline-last {
  margin-right: 0;
}

#birthday-info,
#register-info {
  display: inline-block;
  font-size: 12px;
  color: gray;
}

#register-info a
.middle-right p:last-child a {
  text-decoration: none;
  color: rgb(46, 113, 228);
}

#register-info a:hover {
  text-decoration: underline;
}

input[type='radio'] {
  display: inline-block;
  width: 20px;
  margin-top: 15px;
}


.middle-right input[type='submit'] {
  background-color: #5B8E47;
  color: white;
  font-size: 20px;
  padding: 5px 25px;
  width: 150px;
  margin-top: 10px;
  text-align: center;
}

.middle-right form {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

.middle-right p:last-child {
  color: gray;
  margin-bottom: 50px;
}

::-webkit-input-placeholder {
  font-size: 15px;
}

/*----- content footer -----*/
.content-footer a {
  text-decoration: none;
  color: rgb(46, 113, 228);
  font-size: 12px;
}

.content-footer li {
  display: inline-block;
  margin-right: 5px;
}

.content-footer ul:first-child {
  border-bottom: 1px solid gray;
  padding: 5px 0;
  margin-bottom: 5px;
}

.content-footer p {
  color: gray;
  margin: 10px 0;
  font-size: 12px;
}