/* simple-blog/@library/content.css */
article a {
  text-decoration: underline var(--main-500) 1px;
  text-underline-offset: 3px;
  color: var(--gray-800);
  font-weight: 500;
}

article a:hover {
  text-decoration-color: var(--main-600);
  text-decoration-thickness: 2px;
  color: #000;
}

h2 {
  color: var(--gray-900);
  margin: 4em 0 0;
  font-size: 1.1rem;
  font-weight: 500;
}

li {
  text-wrap: balance;
  margin-bottom: 1em;
}

pre {
  --glow-padding: 2em;
  font-size: 105%;
}

img, pre {
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: 5px solid var(--gray-900);
  text-wrap: balance;
  margin: 2.5em 0;
  padding-left: 1.5em;
}

blockquote p {
  color: var(--gray-900);
  font-size: 140%;
  font-weight: 600;
  line-height: 1.5;
}

blockquote strong {
  background-color: var(--marker);
  font-weight: inherit;
  margin-inline-start: -.2em;
  margin-inline-end: -.2em;
  padding: .1em .2em;
}
