$primary-color: #5f98cd;
$secondary-color: #b2daff;
$background-color: #fff;
$border-color: #ebebeb;
$text-color: #666;
$font-family: "Open Sans", Helvetica, sans-serif;

.NotificationsFrame {
	z-index: 2;
	width: 100%;
	top: 20px;
	background: $background-color;
	border-radius: 3px;
	overflow: hidden;
	font-family: $font-family;
	margin-bottom: 40px;

	&--showMenu {
		transform: translate3d(150px, 0, 0);
	}
}