@mixin for-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-small-desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin for-medium-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin container {
  padding-right: 15px;
  padding-left: 15px;

  @include for-tablet {
    width: 720px;
    margin-right: auto;
    margin-left: auto;
  }

  @include for-small-desktop {
    width: 996px;
  }

  @include for-medium-desktop {
    width: 1170px;
  }
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
