:root {
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --main-500: #3b82f6;
  --main-600: #2563eb;
  --pink-gradient: linear-gradient(#e879f9, #ec4899);
  --blue-gradient: linear-gradient(#0ea5e9, #67e8f9);
  --marker: #ffff7a;
}
