body {
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Segoe UI, Roboto;
}

h1 {
  letter-spacing: -.03em;
  font-size: 2.6rem;
}

h1, h1 + p {
  text-align: center;
  text-wrap: balance;
  max-width: 40rem;
  margin: 0 auto .2em;
}

h1 + p {
  margin-bottom: 2em;
  font-size: 1.15em;
  font-weight: 300;
}

a {
  text-decoration: none;
}

nav :is(a) {
  color: var(--gray-900);
  font-weight: 500;
}

nav :is(a)[aria-selected] {
  text-decoration: 2px underline var(--main-500);
  text-underline-offset: 8px;
}

p, li {
  color: var(--gray-500);
  line-height: 1.65;
}

:is(p, li) strong {
  color: var(--gray-800);
}
