@mixin mq($value) {
  @if ($value == "m") {
    @media (max-width: 992px) {
      @content;
    }
  } @else if ($value == "s") {
    @media (max-width: 768px) {
      @content;
    }
  } @else if ($value == "xs") {
    @media (max-width: 576px) {
      @content;
    }
  } @else {
    @error "Please insert value one of these: l, m, s, xs";
  }
}

@mixin resetApperance {
  all: unset;
}

@mixin centerBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
