// Global
$base-url: "/";

// work overlay 282f35

// Breaking point max-width
// 479
// 767
// 991

// Breaking point min-width
// 480
// 768
// 992

// Color Names
$baltic-sea: #1e1c24;
$white: #fff;
$carnation: #fd5353;

// Color
$clr-brand: #64c29e;
$clr-bg: $white;
$clr-heading: #353738;
$clr-body: #848789;
$clr-link: $clr-brand;

// Typography
$ff-primary: Lato, sans-serif;
$ff-secondary: Montserrat, serif;
$ff-scale: 1.125;
$ff-size: 100%;

// Layout
