.adventage {
  
  &__list {
    margin-top: 3.5625rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4.375rem;
    list-style: none;

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    margin-bottom: 1.125rem;
    font-family: typeface(sans-serif);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
  }

  &__desc {
    font-size: .9375rem;
  }
}