.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(./../../img/bg-hero.jpg) center/cover no-repeat;

  @media (min-width: 320px) and (max-width: 425px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__title {
    color: #fff;
    font-size: 3.25rem;
    margin-bottom: 1.75rem;

    @media (max-width: 576px) {
      font-size: 3rem;
    }

    @media (min-width: 320px) and (max-width: 425px) {
      font-size: 2rem;
      line-height: 1.067em;
      text-align: center;
    }
  }

  &__form {
    display: flex;

    @media (min-width: 320px) and (max-width: 425px) {
      width: 100%;
    }

    &__input {
      width: 20.375rem;
      padding: .875rem .8125rem;
      border: 0;
      outline: 0;
      color: color(heading);

      @media (min-width: 320px) and (max-width: 425px) {
        padding: .5rem .8125rem;
      }
    }

    &__button {
      all: unset;
      width: 7.625rem;
      background: #fd4f32;
      color: #fff;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      transition: background .4s;

      &:hover,
      &:focus,
      &:active {
        background: darken(#fd4f32, 8%);
      }
    }
  }
}