.pink, .blue {
  background-image: var(--pink-gradient);
  border-radius: .8em;
  margin: 1.5em 0 2em;
  padding: 3em 0 0 3em;
  overflow: hidden;
}

:is(.pink, .blue) pre {
  margin: 0;
  padding: 2em;
}

:is(.pink, .blue) > * {
  border-radius: .6em 0 0;
}

.blue {
  background-image: var(--blue-gradient);
}
