:focus-visible {
  outline: 3px solid var(--gray-100);
  border-color: var(--main-500);
  outline-offset: 1px;
}

label {
  margin-bottom: 1em;
  display: block;
}

label span {
  margin-bottom: .3em;
  font-weight: 500;
  display: block;
}

input, textarea {
  border: 1px solid var(--gray-200);
  font-family: inherit;
  font-size: inherit;
  border-radius: 4px;
  width: 100%;
  padding: .7em 1em;
}

textarea {
  form-sizing: normal;
  min-height: 80px;
}

button, [role="button"] {
  background-color: var(--main-500);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 4px;
  width: 100%;
  padding: .75em 1.5em;
  font-weight: 550;
}

:is(button, [role="button"]):hover {
  background-color: var(--main-600);
}

:is(button, [role="button"]):active {
  transform: translateY(1px);
}
