ul:has(time) {
  margin: 4em 0;
  padding: 0;
  list-style: none;
}

ul:has(time) li {
  margin-bottom: 3em;
}

ul:has(time) figure {
  align-items: center;
  gap: 3rem;
  margin: 0;
  transition: transform .1s;
  display: flex;
}

ul:has(time) figure:hover {
  transform: scale(1.01);
}

ul:has(time) time {
  color: var(--gray-500);
  font-size: 85%;
  font-weight: 300;
}

ul:has(time) h2 {
  color: var(--gray-800);
  text-wrap: balance;
  margin: .3em 0 0;
  font-size: 1.05em;
  font-weight: 500;
  line-height: 1.5;
}

ul:has(time) img {
  border-radius: 4px;
  max-width: 12em;
}
